 {
	"jbuniversal.product.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "150",
				"height": "150",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		}
	},
	"jbuniversal.gorod.default":  {
		"name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"address":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6532e39e-2010-4c45-8c30-9d8f702dd606"
			}
		},
		"telephones":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "619a8371-929a-4651-87af-78f70346201b"
			}
		}
	}
}