 {
	"name": "\u041d\u043e\u0432\u043e\u0441\u0442\u044c",
	"elements":  {
		"0535f025-1974-45ab-89e2-0d2038a30c8f":  {
			"name": "\u041a\u0430\u0440\u0442\u0438\u043d\u043a\u0430",
			"description": "",
			"access": "1",
			"upload_directory": "images\/stories\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"54e4753f-4b73-49a8-a4d8-25ddd53a418f":  {
			"name": "\u0410\u043d\u043e\u043d\u0441",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"513ecff9-2aba-40a5-8e3e-a939b430b776":  {
			"name": "\u0422\u0435\u043a\u0441\u0442",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"f1642e48-6a73-4f4a-83ee-f445d32a316c":  {
			"name": "\u0421\u0441\u044b\u043b\u043a\u0438",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"type": "link"
		}
	}
}