 {
	"name": "\u0417\u0430\u043a\u0430\u0437",
	"elements":  {
		"83c7d25e-7c27-4ca9-b920-76e3af5fa7fb":  {
			"name": "",
			"description": "",
			"access": "1",
			"type": "jbbasketitems"
		},
		"3c3db6d8-8b9e-4ab6-9e31-0704efea7614":  {
			"name": "\u0424\u0418\u041e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"a95eb051-c43b-4d58-b7c5-ec0cd26fc604":  {
			"name": "\u041a\u043e\u043c\u043f\u0430\u043d\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"cadbb59a-7bdf-4ceb-b51d-ec51a3917230":  {
			"name": "\u041c\u043e\u0431\u0438\u043b\u044c\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"2a2d6ee9-aa98-4169-8753-6b47843405d3":  {
			"name": "E-mail",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"7db9c36f-6831-41b7-9814-8facfa8720ac":  {
			"name": "\u0421\u043f\u043e\u0441\u043e\u0431 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u0421\u0430\u043c\u043e\u0432\u044b\u0432\u043e\u0437 (\u0431\u0435\u0441\u043f\u043b\u0430\u0442\u043d\u043e)",
					"value": "samovyvoz-besplatno"
				},
				"1":  {
					"name": "\u0414\u043e\u0441\u0442\u0430\u0432\u043a\u0430 \u043a\u0443\u0440\u044c\u0435\u0440\u043e\u043c",
					"value": "dostavka-kurerom"
				}
			},
			"type": "radio"
		},
		"e0e2eb90-00a9-4ea1-ad90-5f9883994ad1":  {
			"name": "\u0413\u043e\u0440\u043e\u0434",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"8edc46a7-40a0-4acd-a21f-5626ebca9021":  {
			"name": "\u0423\u043b\u0438\u0446\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"c66506eb-3c81-4b8a-acd4-0ef98b3c8a32":  {
			"name": "\u0414\u043e\u043c, \u043a\u043e\u0440\u043f\u0443\u0441, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"0d1c2d06-85f0-41ea-a752-bff2efb83c34":  {
			"name": "\u0414\u0430\u0442\u0430 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"4d1f32fb-4dd3-40f7-adff-650647e7c9dc":  {
			"name": "\u0412\u0440\u0435\u043c\u044f \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "10:00 - 14:00",
					"value": "1000-1400"
				},
				"1":  {
					"name": "15:00 - 21:00",
					"value": "1500-2100"
				}
			},
			"type": "radio"
		},
		"c743cc81-de39-4424-a7fd-5bb256fbf769":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043a \u0437\u0430\u043a\u0430\u0437\u0443",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"932755cf-9ac7-455a-82be-8fe11a159cb5":  {
			"name": "\u0421\u043f\u043e\u0441\u043e\u0431 \u043e\u043f\u043b\u0430\u0442\u044b",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u041e\u043f\u043b\u0430\u0442\u0430 \u0432 \u043d\u0430\u0448\u0435\u043c \u043e\u0444\u0438\u0441\u0435 \u043f\u0440\u043e\u0434\u0430\u0436",
					"value": "oplata-v-nashem-ofise-prodazh"
				},
				"1":  {
					"name": "\u041e\u043f\u043b\u0430\u0442\u0430 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0439 \u043a\u0430\u0440\u0442\u043e\u0439",
					"value": "oplata-bankovskoj-kartoj"
				},
				"2":  {
					"name": "\u041e\u043f\u043b\u0430\u0442\u0430 \u043f\u043e \u0441\u0447\u0435\u0442\u0443 \u0447\u0435\u0440\u0435\u0437 \u043b\u044e\u0431\u043e\u0439 \u0431\u0430\u043d\u043a",
					"value": "oplata-po-schetu-cherez-lyuboj-bank"
				}
			},
			"type": "radio"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}