 {
	"name": "Product",
	"elements":  {
		"a9da76ee-6c08-4abd-bdec-804808de0d6b":  {
			"name": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u0446\u0432\u0435\u0442\u0430",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u041a\u0440\u0430\u0441\u043d\u044b\u0439",
					"value": "krasnyj"
				},
				"1":  {
					"name": "\u041e\u0440\u0430\u043d\u0436\u0435\u0432\u044b\u0439",
					"value": "oranzhevyj"
				}
			},
			"type": "checkbox"
		},
		"888260d0-e4b7-49ca-949a-063f17dedab1":  {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"currency_default": "EUR",
			"balance_mode": "0",
			"mode": "0",
			"adv_all_exists_show": "1",
			"adv_show_empty": "1",
			"adv_field_param_edit": "0",
			"adv_field_param_1": "",
			"adv_field_param_1_default": "",
			"adv_field_param_2": "",
			"adv_field_param_2_default": "",
			"adv_field_param_3": "",
			"adv_field_param_3_default": "",
			"adv_field_text": "0",
			"adv_field_text_default": "",
			"basket_menuitem": "0",
			"basket_nopaid": "0",
			"type": "jbpriceadvance"
		},
		"97b915bd-c9fd-4ec4-bad1-cc0154c0340f":  {
			"name": "\u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "2000",
			"type": "image"
		},
		"_itemaccess":  {
			"name": "Item Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Item Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Item Category",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Item Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Item Created",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Item Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Item Frontpage",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Item Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Item Modified",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Item Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Item Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Item Publish Down",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Item Publish Up",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Item Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "Item State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Item Tag",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}