html {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
  font: 12px Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #4d4b4b;
  padding: 0px;
}
#wrapper {
  background-color: #ffffff;
  width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  height: auto!important;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #4d8bb2;
  outline: none;
  text-decoration: underline;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 15px;
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
td {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
fieldset {
  border: 0 none;
  padding: 0;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 286px;
}
.header .logotype {
  display: inline-block;
  padding: 50px 0px 70px 20px;
}
.header .search {
  vertical-align: top;
  height: 205px;
  text-align: right;
  display: inline-block;
  width: 360px;
  padding: 25px 40px 0px 40px;
}
.header .search .twitter {
  width: 24px;
  height: 23px;
  display: inline-block;
  background: url("../images/price.png") 0 0 no-repeat;
}
.header .search .vk {
  width: 24px;
  height: 23px;
  display: inline-block;
  background: url("../images/price.png") 0px -81px no-repeat;
}
.header .search .facebook {
  width: 24px;
  height: 23px;
  display: inline-block;
  background: url("../images/price.png") 0px -41px no-repeat;
}
.header .search .for_search {
  position: relative;
}
.header .search .btn_search {
  background: url("../images/search.png") no-repeat;
  width: 64px;
  height: 34px;
  border: none;
  position: absolute;
  top: 1px;
  right: 0px;
}
.header .search .btn_search:hover {
  cursor: pointer;
}
.header .search .input_search {
  width: 100%;
  font-size: 15px;
  padding: 6px 5px 5px 5px;
}
.header .search .your_basket p {
  font-size: 16px;
  color: #4d4b4b;
  vertical-align: initial;
}
.header .search .your_basket p .how_much {
  color: #ffffff;
  background-color: #332b77;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
}
.header .search .your_basket p .basket {
  background: url("../images/price.png") no-repeat 0px -267px;
  width: 41px;
  height: 40px;
  border: none;
}
.header .search .your_basket p .basket:hover {
  cursor: pointer;
}
.header .contact {
  padding-top: 25px;
  vertical-align: top;
  height: 205px;
  width: 250px;
  display: inline-block;
}
.header .contact .number {
  font-size: 27px;
  color: #383085;
  font-weight: bold;
}
.header .contact .btn:hover {
  cursor: pointer;
}
.header .contact .online {
  margin-bottom: 20px;
}
.header .contact .btn {
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 50px;
  position: relative;
  background: url("../images/button.png") no-repeat;
}
.header .contact .btn .icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url("../images/price.png") 0px -142px no-repeat;
  position: absolute;
  left: 15px;
  top: 3px;
}
.header .contact .btn .icon_two {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url("../images/price.png") 0px -210px no-repeat;
  position: absolute;
  left: 15px;
  top: 3px;
}
.header .moduletable {
  text-align: justify;
}
.header .moduletable .menu {
  background-color: #4d4b4b;
  margin: 0px;
  padding: 10px 10px;
  clear: both;
  width: 100%;
  display: table;
}
.header .moduletable .menu li {
  height: 100%;
  vertical-align: center;
  display: table-cell;
  text-align: center;
  border-right: 1px dotted #ffffff;
  list-style-type: none;
}
.header .moduletable .menu li a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.header .moduletable .menu li ul {
  display: none;
}
.header .moduletable .menu li ul li {
  list-style-type: none;
  float: none;
}
.header .moduletable .menu li:first-child {
  border-left: 1px dotted #ffffff;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 45px 45px 140px 45px;
}
.content .blog-featured .items-leading h2 {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
}
.content .blog-featured .items-leading p {
  font-size: 16px;
  line-height: 18px;
  color: #3c3c3c;
  text-align: justify;
}
.newss {
  border-top: 5px solid #b2b2b2;
  border-bottom: 5px solid #b2b2b2;
  -webkit-box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.75);
  border-left: none;
  margin: 15px 0px;
  padding: 15px 0px;
  border-right: none;
}
.newss .all_news_link {
  width: 244px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  text-transform: uppercase;
}
.newss .all_news_link a {
  font-size: 15px;
  text-decoration: none;
  color: #000000;
}
.newss .junewsultra {
  width: 756px;
  display: inline-block;
  vertical-align: top;
}
.newss .junewsultra a {
  color: #b2b2b2;
  text-decoration: none;
}
.newss .junewsultra span {
  color: #000000;
  font-size: 12px;
}
.newss .junewsultra div {
  margin-top: 10px;
}
.newss .junewsultra .news {
  width: 250px;
  display: inline-block;
  margin-top: 0px!important;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  width: 1000px;
  margin: -100px auto 0;
  height: 100px;
  background: #b2b2b2;
  -webkit-box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}
.footer ul {
  margin: 0px;
  padding: 12px 0px 12px 44px;
}
.footer ul li {
  list-style-type: none;
}
.footer ul li a {
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  text-decoration: none;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer .moduletable {
  display: inline-block;
}
.footer img {
  float: right;
  padding-top: 10px;
  padding-right: 44px;
}
